body, #root{
    height: 100vh;
    background-image: linear-gradient( 90.0deg,  rgb(91, 97, 112), #1e3a68 );
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: 0.1em;
}
.Home {
    h1{
        color: white;
        font-size: 4vw;
        font-weight: 400;
    }
    .lemon-svg{
        margin-left: 10%;
    }
    .links{
        margin-top: 20px;
    }
    a{
        margin-right: 50px;;
        border-radius: 30px;
        font-size: 1.2vw;
        font-weight: 200;
        .eye-icon{
            transition: all .2s ease-out; 
            opacity: 0.0;
        }
    }
    a:hover .eye-icon{
        opacity: 1.0;
    }
}

.Form{
    h2{
        font-weight: 500;
        font-size: 2.0vw;
    }
    h4{
        font-weight: 400;
    }
    .form-group{
        background-color: rgb(211, 120, 59);
        border-radius: 10px;
        padding: 20px;
        box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028),
      0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042),
      0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07)
    ;
    }
}
 

.form-select{
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: white;
    vertical-align: middle;
    background: transparent ;
    border-style: none;
    border-bottom: 1px solid #fff ;
    border-radius: 3px;
}
.form-select:active{
    border-style:none  ;
}
.react-date-picker{
    background-color:  #4E5D6C;
    border: none;
    border-radius: 10px;

    .react-date-picker:active{
        border: none;
    }
}

.Report{
    .table{
        color:white;
    }
    .table-hover tbody tr:hover{
        color: white !important;
        background-color:rgb(211, 120, 59) !important;
    }
    label{
        color: white !important;
        text-decoration: none !important;
    }
    .form-control{
        color:white;
    }
}
 
@media only screen and (max-width: 768px) {
    h2{
        font-weight: 500;
        font-size: 1.5rem !important;
    }
  }

@media only screen and (max-width: 425px) {
    .form-group {
      margin-top: 325px !important;

    }
  }